@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
h3 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
h4 {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
}
button {
  border-radius: 4px;
  font-size: 16px;
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
}
@media (min-width: 501px) {
  .top-header {
    display: flex;
    flex-direction: row;
  }
  .top-header #logo {
    display: flex;
    flex-direction: row;
    margin-left: 1.5%;
  }
  .top-header .navigation {
    display: flex;
    width: 100%;
    margin-left: 50%;
    margin-top: 3vh;
    justify-content: center;
  }
  .top-header .navigation nav {
    justify-content: space-evenly;
  }
  .top-header .navigation nav a {
    text-decoration: none;
    color: #484848;
    font-size: 1.6rem;
  }
  .background {
    display: flex;
  }
  .background .background-photo {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .top-header {
    display: flex;
    flex-direction: row;
  }
  .top-header .navigation {
    display: flex;
    width: 100%;
    margin-top: 10%;
    justify-content: center;
  }
  .top-header .navigation nav {
    justify-content: space-evenly;
  }
  .top-header .navigation nav a {
    text-decoration: none;
    color: #484848;
    font-size: 1.2rem;
    width: 50px;
  }
  .background {
    display: flex;
  }
  .background .background-photo {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 501px) {
  hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 41.25%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  footer {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  footer {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 501px) {
  #reservations .first-text {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }
  #reservations .reservations-bar {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 10vh;
    justify-content: space-evenly;
  }
  #reservations .reservations-bar .search-button {
    background: #FF5A5F;
    margin-top: 1vh;
  }
  #testimonials .second-text {
    display: flex;
    justify-content: flex-start;
    margin-top: 5vh;
    margin-left: 10%;
    margin-bottom: 5vh;
  }
  #testimonials .images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 9%;
  }
  #testimonials .images .paragraph {
    margin-top: 3%;
    width: 80%;
  }
  #testimonials .images .people {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }
  #testimonials .images .people .Greta {
    border-radius: 50%;
  }
  #testimonials .images .people .John {
    border-radius: 50%;
  }
  #testimonials .images .people .Kelly {
    border-radius: 50%;
  }
  #testimonials .images .location {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
  }
  #testimonials .images .location h5 {
    font-weight: bold;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  #reservations .first-text {
    display: flex;
    margin-top: 5vh;
  }
  #reservations .first-text h3 {
    margin-left: 1%;
    text-align: center;
  }
  #reservations .reservations-bar {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: space-evenly;
  }
  #reservations .reservations-bar .search-button {
    margin-left: 17vh;
    margin-bottom: 2vh;
    background: #FF5A5F;
    margin-top: 3.5vh;
  }
  #testimonials .second-text {
    display: flex;
    justify-content: flex-start;
    margin-top: 5vh;
    margin-left: 1%;
    margin-bottom: 5vh;
  }
  #testimonials .second-text h3 {
    text-align: center;
  }
  #testimonials .images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 16.5%;
  }
  #testimonials .images .paragraph {
    width: 80%;
    margin-top: 1vh;
  }
  #testimonials .images .second-image {
    margin-top: 3vh;
  }
  #testimonials .images .third-image {
    margin-top: 3vh;
  }
  #testimonials .images .people {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }
  #testimonials .images .people .Greta {
    border-radius: 50%;
  }
  #testimonials .images .people .John {
    border-radius: 50%;
  }
  #testimonials .images .people .Kelly {
    border-radius: 50%;
  }
  #testimonials .images .location {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
  }
  #testimonials .images .location h5 {
    font-weight: bold;
  }
}
