@media(min-width: 501px) {

#reservations {

  .first-text {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }

  .reservations-bar {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 10vh;
    justify-content: space-evenly;

    .search-button {
      .button(#FF5A5F);
      margin-top: 1vh;

      &:hover {
        background-color: #00a699;
      }
    }
  }
}

#testimonials {
  .second-text {
    display: flex;
    justify-content: flex-start;
    margin-top: 5vh;
    margin-left: 10%;
    margin-bottom: 5vh;
  }

  .images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 9%;

      .paragraph {
        margin-top: 3%;
        width: 65%;
      }

    .people {
      display: flex;
      flex-direction: row;
      margin-top: 5%;
        .Greta {
          border-radius: 50%;
        }
        .John {
          border-radius: 50%;
        }
        .Kelly {
          border-radius: 50%;
        }
      }

    .location {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 70%;

       h5 {
         font-weight: bold;
       }
     }
   }
  }
}


@media(min-width: 0px) and (max-width:500px) {

  #reservations {

    .first-text {
      display: flex;
      margin-top: 5vh;

      h3 {
        margin-left: 1%;
        text-align: center;
      }
    }

    .reservations-bar {
      display: flex;
      flex-direction: column;
      margin-top: 10vh;
      margin-bottom: 10vh;
      justify-content: space-evenly;

      .search-button {
        margin-left: 35%;
        margin-bottom: 2vh;
        .button(#FF5A5F);
        margin-top: 1vh;
      }
    }
  }

  #testimonials {
    .second-text {
      display: flex;
      justify-content: flex-start;
      margin-top: 5vh;
      margin-left: 1%;
      margin-bottom: 5vh;

        h3 {
          text-align: center;
      }
    }

    .images {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 16.5%;

        .paragraph {
          width: 80%;
          margin-top: 1vh;
        }

      .second-image {
        margin-top: 3vh;
      }

      .third-image {
        margin-top: 3vh;
      }

      .people {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
          .Greta {
            border-radius: 50%;
          }
          .John {
            border-radius: 50%;
          }
          .Kelly {
            border-radius: 50%;
          }
        }

      .location {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 70%;

         h5 {
           font-weight: bold;
         }

      }

    }
  }
}
