
.top-header {
  display: flex;
  flex-direction: row;

    nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      margin-top: 3%;
      margin-left: 50%;

      a {
        text-decoration: none;
        color: #484848;
        font-size: 25px;
      }
    }
  }


#background-photo {
  position: relative;
  width: 100% !important;
}
