#team {
  margin-top: 3%;

  .second-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 2%;
    }
  }

  .images {

    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .people1 {
      margin-top: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .people2 {
      margin-top: 2%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    .people3 {
      margin-top: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .people4 {
      margin-top: 2%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    .people5 {
      margin-top: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .people6 {
      margin-top: 2%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    .people7 {
      margin-top: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .people8 {
      margin-top: 2%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    .people9 {
      margin-top: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }


    img {
      border-radius: 50%;
    }

    .job-description1 {
      margin-right: 5%;
    }

    .job-description2 {
      margin-left: 5%;
    }

  }

}
