@media(min-width: 501px) {

  #top {

    .top-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 0.5%;

      #logo {
        display: flex;
        flex-direction: row;
        margin-left: 1.5%;
      }

      .navigation {
        display: flex;
        flex-direction: row;
        margin-left: 55%;
        margin-top: 1.5vh;
        justify-content: center;
        width: 100%;

        nav {
          display: flex;

          a {
            text-decoration: none;
            color: #484848;
            font-size: 1.2rem;
            width:125px;
            padding-left: 5%;
            display: inline-block;
          }
        }
      }
    }
  }


  #team-photo {
    // height: 10vh;

    .background-photo {
      width: 100%;
    }
  }

}

@media (min-width:0px) and (max-width:500px) {
  #top {

    .top-header {
      display: flex;
      flex-direction: row;
      // justify-content: flex-start;
      margin-top: 1.5%;

      .logo {
        display: none;
      }

      .navigation {
        display: flex;
        width: 100%;
        margin-top: 5%;
        justify-content: center;
        margin-bottom: 5%;
        margin-left: 13%;


        nav {
          display: flex;
          flex-direction: row;
          width: 500px;
          align-items: center;

        a {
          text-decoration: none;
          color: #484848;
          font-size: 1.2rem;
          width: 150px;
          }
        }
      }
    }
  }

  #team-photo {
    // height: 10vh;

    .background-photo {
      width: 100%;
    }
  }
}
